{% extends 'base/base.html' %}
{% load static %}
{% block content %}
                <div class="overlay"></div>

                <div class="page-header min-vh-80">
                    <div class="container">
                        <div class="row">
                            <div class="positive-relative row">
                                <div class="col-12 col-xl-3">
                                    <div class="category-menu category-menu-2">
                                        <div class="card category-heading pb-0 p-3 card-header bg-dark-blue d-flex flex-row align-items-center justify-content-between">
        									<h2 class="categories-toggle text-white">categories</h2>
                                            <i class="fa fa-list text-white"></i>
                                        </div>
                                        <div class="category-menu-list p-3">
                                            <ul class="category-list-box">
                                                <li {% if not category %} class="active" {% endif %}>
                                                    <a href="{% url 'home:project_list' %}">All</a>
                                                </li>
                                                {% for item in categories %}
                                                <li {% if category.slug == item.slug %} class="active" {% endif %}>
                                                    <a href="{{ item.get_absolute_url }}">{{ item.name }}</a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-xl-9">
                                    {% include 'base/pagination.html' %}
                                    <div class="row grid-box ">
                                        {% for project in projects %}
                                        <div class="grid-item">
                                            <img src="{{ project.project_img.url }}" alt="">
                                            <div class="grid-item-absolute">
                                                {% if project.category.slug != "graphic-designs" %}
                                                <div>
                                                    <a href="{{ project.get_absolute_url }}" class="btn btn-dark-blue btn-sm">View</a>
                                                </div>
                                                    {% if project.website_url_on == True %}
                                                    <div>
                                                        <a href="{{ project.website_.url }}" class="btn btn-dark-blue btn-sm">Visit Link</a>
                                                    </div>
                                                    {% endif %}
                                                {% else %}
                                                <div>
                                                    <a href="{{ project.project_img.url }}" class="btn btn-dark-blue btn-sm">View Image</a>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% endfor %}

                                    </div>
                                </div>

                            </div>
                            <a class="home-logo" href="{% url 'home:home' %}" id="home-logo">
                                <img class="home-icon" src="{% static '/asset/img/menu1.png' %}" alt="">
                            </a>
                        </div>
                    </div>
                </div>
{% endblock %}
